.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 10px;
    border: none;
}

.book {
    display: grid;
    text-align: left;
    gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        "title author pages read toggle remove";
    padding-bottom: 15px;
}

.title {
    font-style: italic;
    grid-area: title;
}

.author {
    grid-area: author;
}

.pages {
    grid-area: pages;
}

.read {
    max-height: 50px;
    grid-area: read;
}

.toggle-btn {
    grid-area: toggle;
}

.remove-btn {
    grid-area: remove;
}

.input-form {
    width: 30vw;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    gap: 15px;
    padding: 10px;
}

.input-form label {
    justify-self: center;
}

.input-form input {
    justify-self: left;
    width: 10vw;
    max-width: 400px;
}

.submit-btn, .close-btn {
    width: 10vw;
    max-width: 300px;
    justify-self: center;
}

.submit-btn {
    grid-column: 1;
}

.close-btn {
    grid-column: 2;
}

.input-div, .options {
    margin-top: 20px;
}

.invalid {
    box-shadow: 0 0 0 1px red;
}

.version-number {
    position: absolute;
    bottom: 0;
    right: 0;
}